@media screen and (max-width: 1020px) {
    * {
        font-size: 110%;
    }

    main button {
        font-size: 10vw;
    }

    main {
        height: 100vh;
    }

    header,
    footer {
        transition: 100ms;
        z-index: 1;
        position: fixed;
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }

    header {
        top: -35vh;
    }

    footer {
        bottom: -40vh;
    }

    header:focus,
    header:hover {
        top: 0px;
    }

    footer:focus,
    footer:hover {
        bottom: 0px;
    }
}